1. Python 3.10.4 (Take care that you click on "Enable python on path")
2. pyinstaller (go into your cmd and type: pip install pyinstaller)
3. install colorama (go into your cmd and type pip install colorama)